Repository Johna210/go-next-flutter: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write ., golangci-lint run --fast, flutter analyze, dart format

chore: setup commitlint with scopes
  .commitlintrc.json
Due: biome check --write .

chore: add Nx/Husky scripts
  package.json
Due: biome check --write .

chore: update pre-commit to new version
  .husky/pre-commit
  .vscode/extensions.json
  biome.json
Due: biome check --write .

editor setup
  .vscode/extensions.json
  .vscode/settings.json
  .zed/languages.json
Due: biome check --write .

chore: added comment message checks
  .husky/commit-msg
Due: none

chore: nx config
  nx.json
Due: biome check --write .

feat(backend): simple user api
  .gitignore
  .lintstagedrc.json
  .zed/languages.json
  apps/backend/.golangci.yml
  apps/backend/cmd/api/main.go
  apps/backend/cmd/export-spec/main.go
  apps/backend/go.mod
  apps/backend/go.sum
  apps/backend/internal/config/config.go
  apps/backend/internal/delivery/http/dto/user_dto.go
  apps/backend/internal/delivery/http/handler/user_handler.go
  apps/backend/internal/delivery/http/router.go
  apps/backend/internal/domain/errors.go
  apps/backend/internal/domain/user.go
  apps/backend/internal/infrastructure/memory/user_repository.go
  apps/backend/internal/repository/user_repository.go
  apps/backend/internal/usecase/user_usecase.go
  apps/backend/scripts/export-openapi.sh
Due: biome check --write ., golangci-lint run --fast

chore: first end to end type test
  .lintstagedrc.json
  .vscode/settings.json
  apps/backend/.golangci.yml
  apps/backend/cmd/api/main.go
  apps/backend/cmd/export-spec/main.go
  apps/backend/internal/config/config.go
  apps/backend/project.json
  nx.json
  packages/api-spec/openapi.json
  packages/api-spec/package.json
  packages/api-spec/project.json
  packages/typescript-sdk/package.json
  packages/typescript-sdk/project.json
  packages/typescript-sdk/src/client.ts
  packages/typescript-sdk/src/hook.ts
  packages/typescript-sdk/src/types.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write ., golangci-lint run --fast

fix: lint fix
  apps/backend/internal/delivery/http/dto/user_dto.go
  apps/backend/internal/delivery/http/handler/user_handler.go
  apps/backend/internal/delivery/http/router.go
  apps/backend/internal/infrastructure/memory/user_repository.go
  apps/backend/internal/repository/user_repository.go
  apps/backend/internal/usecase/user_usecase.go
Due: golangci-lint run --fast

chore: backend project setup
  apps/backend/project.json
Due: biome check --write .

fix(backend): removed trace
  apps/backend/cmd/api/main.go
  apps/backend/cmd/export-spec/main.go
Due: golangci-lint run --fast

feat(shared): added delete user hook
  packages/typescript-sdk/src/hook.ts
Due: biome check --write .

fix: added biome rule to exclude generated type.ts
  biome.json
  packages/typescript-sdk/src/types.ts
Due: biome check --write .

chore: upgrade go version
  apps/backend/go.mod
Due: none

chore: upgrade go version
  apps/backend/go.mod
  apps/backend/go.sum
  apps/backend/internal/core/config.go
  apps/backend/internal/core/logger.go
  apps/backend/internal/core/module.go
  apps/backend/internal/core/types.go
Due: golangci-lint run --fast

feat(backend): db setup
  apps/backend/go.mod
  apps/backend/go.sum
  apps/backend/internal/core/database.go
  apps/backend/internal/core/module.go
  apps/backend/internal/shared/auth/domain/user.go
  apps/backend/internal/shared/tenant/domain/tenant.go
Due: golangci-lint run --fast

feat(backend): generic repository and base repository
  apps/backend/internal/shared/repository/base_repository.go
  apps/backend/internal/shared/repository/generic_repository.go
Due: golangci-lint run --fast

feat(backend): collection query setup
  .zed/settings.json
  apps/backend/go.mod
  apps/backend/go.sum
  apps/backend/pkg/collection_query/filter_operators.go
  apps/backend/pkg/collection_query/query.go
  apps/backend/pkg/collection_query/validators.go
  apps/backend/project.json
  packages/typescript-sdk/package.json
  pnpm-lock.yaml
Due: biome check --write ., golangci-lint run --fast

feat(backend): query mapper refactored
  apps/backend/pkg/collection_query/query_mapper.go
Due: golangci-lint run --fast

feat(backend): query constructor
  apps/backend/pkg/collection_query/query.go
  apps/backend/pkg/collection_query/query_constructor.go
  apps/backend/pkg/collection_query/query_mapper.go
  apps/backend/pkg/collection_query/validators.go
Due: golangci-lint run --fast

feat(backend): completed base repository
  apps/backend/internal/shared/repository/base_repository.go
  apps/backend/internal/shared/repository/generic_repository.go
Due: golangci-lint run --fast

feat(backend): auth models, air setup
  apps/backend/.air.toml
  apps/backend/cmd/schema/main.go
  apps/backend/internal/core/config.go
  apps/backend/internal/core/migration.go
  apps/backend/internal/core/module.go
  apps/backend/internal/core/schema.go
  apps/backend/internal/migration/atlas.hcl
  apps/backend/internal/modules/auth/domain/permission.go
  apps/backend/internal/modules/auth/domain/role.go
  apps/backend/internal/modules/auth/domain/role_permission.go
  apps/backend/internal/modules/auth/domain/session.go
  apps/backend/internal/modules/auth/domain/user.go
  apps/backend/internal/modules/auth/domain/user_profile.go
  apps/backend/internal/modules/auth/domain/user_role.go
  apps/backend/internal/modules/auth/module.go
  apps/backend/internal/shared/auth/domain/user.go
  apps/backend/internal/shared/model/base_model.go
  apps/backend/internal/shared/repository/base_repository.go
  apps/backend/internal/shared/repository/generic_repository.go
  apps/backend/internal/shared/tenant/domain/tenant.go
  apps/backend/pkg/utils/sanitize.go
  apps/backend/project.json
Due: biome check --write ., golangci-lint run --fast

fix(backend): handled error cases
  apps/backend/cmd/api/main.go
  apps/backend/cmd/api/main_with_huma.go
  apps/backend/cmd/schema/main.go
  apps/backend/internal/bootstrap/app.go
  apps/backend/internal/modules/auth/domain/entity/entities.go
  apps/backend/internal/modules/auth/domain/entity/permission.go
  apps/backend/internal/modules/auth/domain/entity/role.go
  apps/backend/internal/modules/auth/domain/entity/role_permission.go
  apps/backend/internal/modules/auth/domain/entity/session.go
  apps/backend/internal/modules/auth/domain/entity/user.go
  apps/backend/internal/modules/auth/domain/entity/user_profile.go
  apps/backend/internal/modules/auth/domain/entity/user_role.go
  apps/backend/internal/modules/auth/module.go
  apps/backend/internal/modules/modules.go
  apps/backend/project.json
Due: biome check --write ., golangci-lint run --fast

fix(backend): config setup
  apps/backend/.gitignore
  apps/backend/cmd/api/main_with_huma.go
  apps/backend/go.mod
  apps/backend/go.sum
  apps/backend/internal/config/config.go
  apps/backend/internal/core/config.go
  apps/backend/internal/core/database.go
  apps/backend/internal/core/logger.go
  apps/backend/internal/core/migration.go
  apps/backend/internal/core/types.go
  apps/backend/project.json
  nx.json
Due: biome check --write ., golangci-lint run --fast

feat(backend): migration setup
  apps/backend/cmd/schema/main.go
  apps/backend/go.mod
  apps/backend/go.sum
  apps/backend/internal/atlas.hcl
  apps/backend/internal/core/config.go
  apps/backend/internal/core/migration.go
  apps/backend/internal/core/module.go
  apps/backend/internal/core/schema.go
  apps/backend/internal/modules/auth/domain/entity/permission.go
  apps/backend/internal/modules/auth/domain/entity/role.go
  apps/backend/internal/modules/auth/domain/entity/session.go
  apps/backend/internal/modules/auth/domain/entity/user.go
  apps/backend/internal/modules/auth/domain/entity/user_profile.go
  apps/backend/internal/modules/auth/entities.go
  apps/backend/internal/modules/auth/module.go
  apps/backend/migrations/.atlas_schema.hcl
Due: golangci-lint run --fast

feat(backend): working migration setup
  apps/backend/cmd/schema/main.go
  apps/backend/internal/core/migration.go
  apps/backend/internal/core/module.go
  apps/backend/internal/core/schema.go
  apps/backend/internal/migration/atlas.hcl
  apps/backend/migrations/.atlas_schema.hcl
  apps/backend/migrations/20251130080311_init.sql
  apps/backend/migrations/atlas.sum
  apps/backend/schema/schema.sql
Due: golangci-lint run --fast

feat(backend): modified apply migration
  apps/backend/.gitignore
  apps/backend/internal/atlas.hcl
  apps/backend/internal/core/migration.go
  apps/backend/internal/core/module.go
Due: golangci-lint run --fast

fix(backend): separated core module from other modules
  apps/backend/internal/bootstrap/app.go
  apps/backend/internal/core/module.go
Due: golangci-lint run --fast

feat(backend): cache init
  apps/backend/go.mod
  apps/backend/go.sum
  apps/backend/internal/core/cache.go
  apps/backend/internal/core/types.go
Due: golangci-lint run --fast

fix(backend): removed log sync error
  apps/backend/.gitignore
  apps/backend/internal/core/cache.go
  apps/backend/internal/core/module.go
Due: golangci-lint run --fast

feat(backend): added cache in core module
  apps/backend/internal/core/cache.go
  apps/backend/internal/core/module.go
Due: golangci-lint run --fast

Path conditions:
  biome check --write .: any of: *.{js,jsx,ts,tsx,json}
  golangci-lint run --fast: any of: *.go
  flutter analyze: any of: *.dart
  dart format: any of: *.dart
